if staetment

In [3]:
a=33
b=33
if(b>a):
    print('b is greater than a') #required indentation
elif a==b:
    print('both equal')
else:
    print('a is greater than b')

both equal

In [7]:
#short hand if else
a=133
b=100
if a < b: print('b')
print('a') if a > b else print('b')

a

In [8]:
#short had if elif else
a=3
b=3
print('a') if a < b else print ('b') if b > a else print('=')

=

In [9]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [10]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [11]:
a =41
if a>10:
    print('a is greater than 10')
    if a>20:
        print('a is greater than 20')
    else:
        print('but not above 20')

a is greater than 10
a is greater than 20

In [12]:
a = 33
b = 200

if b > a:
    pass #if statement with no content, put in the pass

While

In [13]:
i = 0
while i < 6:
    print(i)
    i+=1

0
1
2
3
4
5

In [16]:
i=0
while i < 6:
    i +=1
    if i == 3:
        break
    print(i)

1
2

In [17]:
i=0
while i < 6:
    i +=1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [19]:
i=0
while i<6:
    print(i)
    i+=1
else:
    print('i is no longer less than 6')

0
1
2
3
4
5
i is no longer less than 6

For loop

In [20]:
fruit = ['apple','banana','mango']
for i in fruit:
    print (i)

apple
banana
mango

In [21]:
for x in 'banana':
    print (x)

b
a
n
a
n
a

In [22]:
fruit = ['apple','banana','mango']
for i in fruit:
    if i == 'banana':
        break
    print(i)

apple

In [23]:
fruit = ['apple','banana','mango']
for i in fruit:
    if i == 'banana':
        continue
    print(i)

apple
mango

In [24]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [25]:
for x in range(2,6):
    print(x)

2
3
4
5

In [27]:
for x in range(2,30,3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [29]:
for i in range(6):
    print(i)
else:
    print('for finished')

0
1
2
3
4
5
for finished

In [30]:
adj =['red','fresh','big']
fruit = ['banana','apple','orange']

for i in adj:
    for j in fruit:
        print(i,j)

red banana
red apple
red orange
fresh banana
fresh apple
fresh orange
big banana
big apple
big orange

In [31]:
for x in [0, 1, 2]:
    pass

functions

In [32]:
def my_func():
    print('inside a function')
    
my_func()

inside a function

In [34]:
def name_func(fname):
    print("Name: "+fname)
    
name_func('Adam')
name_func('Ross')
name_func('Emma')

Name: Adam
Name: Ross
Name: Emma

In [36]:
def country_func(fcountry = 'USA'):
    print('I am from '+fcountry)
    
country_func('India')
country_func('UK')
country_func('Australia')
country_func()

I am from India
I am from UK
I am from Australia
I am from USA

In [37]:
def func_fruit(food):
    for i in food:
        print(i)
        
fruit = ['apple','mango','banana']

func_fruit(fruit)

apple
mango
banana

In [38]:
def func_multi(x):
    return x*5

print(func_multi(3))

15

In [39]:
def func_child(c1,c2,c3):
    print('Yongest child: '+c3)
    
func_child(c1='Adam',c2='Sam',c3='Ross')

Yongest child: Ross

In [41]:
def func_child(*kids):
    print('Yongest child: '+kids[1] )
    
func_child('Adam','Sam','Ross')

Yongest child: Sam

In [43]:
def myfunction():
    pass

Recursion

In [47]:
def recursion_func(k):
    if(k>0):
        result = k + recursion_func(k-1)
        print(result)
    else:
        result = 0
    return result

recursion_func(6)

1
3
6
10
15
21

21

lambda

In [51]:
#lambda function that adds 10 to the number passed in as an argument
x = lambda x:x+10
print(x(5))

15

In [52]:
x = lambda a,b : a+b
print(x(3,5))

8

In [54]:
x =  lambda a,b,c : a*b*c
print(x(4,2,3))

24

In [56]:
def myfunc(x):
    return lambda a:a*x

mydoubler = myfunc(2)
print(type(mydoubler))
print(mydoubler(11))

<class 'function'>
22

In [57]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [58]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

Array

In [ ]:
'''
An array is a special variable, which can hold more than one value at a time.

If you have a list of items (a list of car names, for example), storing the cars in single variables could look like this:

car1 = "Ford"
car2 = "Volvo"
car3 = "BMW"

However, what if you want to loop through the cars and find a specific one? And what if you had not 3 cars, but 300?

The solution is an array!

An array can hold many values under a single name, and you can access the values by referring to an index num
'''

In [64]:
cars = ["Ford", "Volvo", "BMW"]

print(type(cars))

print(cars)
print(cars[1])

cars[0]='honda'
print(cars)

print(len(cars))

<class 'list'>
['Ford', 'Volvo', 'BMW']
Volvo
['honda', 'Volvo', 'BMW']
3

In [65]:
cars = ["Ford", "Volvo", "BMW"]

for x in cars:
    print(x)

Ford
Volvo
BMW

In [68]:
cars = ["Ford", "Volvo", "BMW"]
cars.pop()
print(cars)

['Ford', 'Volvo']

In [69]:
cars = ["Ford", "Volvo", "BMW"]
cars.pop(1)
print(cars)

['Ford', 'BMW']

In [70]:
cars = ["Ford", "Volvo", "BMW"]
cars.remove("BMW")
print(cars)

['Ford', 'Volvo']

In [67]:
cars = ["Ford", "Volvo", "BMW"]
cars.append('Honda')
print(cars)

['Ford', 'Volvo', 'BMW', 'Honda']

In [73]:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]

a.append(b)
print(a)

a.clear()
print(a)

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]
[]

In [77]:
fruits = ['apple','mango','banana']
a= fruits.copy()
print(a)

['apple', 'mango', 'banana']

In [78]:
fruits = ['apple','mango','banana','apple']
x=fruits.count('apple')
print(x)

2

In [81]:
points = [1, 4, 2, 9, 7, 8, 9, 3, 1, 9]
x = points.count(9)
print(x)

3

In [83]:
fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [84]:
fruits = ['apple', 'banana', 'cherry']

points = (1, 4, 5, 9)

fruits.extend(points)
print(fruits)

['apple', 'banana', 'cherry', 1, 4, 5, 9]

In [85]:
fruits = ['apple', 'banana', 'cherry']

x = fruits.index("cherry")
print(x)

2

In [87]:
fruits = [4, 32, 64, 32, 16, 32]

x = fruits.index(32)
print(x)

1

In [91]:
fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange")
print(fruits)
fruits.insert(10, "cherry")
print(fruits)

['apple', 'orange', 'banana', 'cherry']
['apple', 'orange', 'banana', 'cherry', 'cherry']

In [93]:
fruits = ['apple', 'banana', 'cherry']
print(fruits)
fruits.reverse()
print(fruits)

['apple', 'banana', 'cherry']
['cherry', 'banana', 'apple']

In [95]:
cars = ['Ford', 'BMW', 'Volvo']
print(cars)
cars.sort()
print(cars)

['Ford', 'BMW', 'Volvo']
['BMW', 'Ford', 'Volvo']