In [5]:
print('Hello  World')

Hello  World

In [6]:
if(5>2):
    print('5 is greater than 2')

5 is greater than 2

In [7]:
if 5 > 2:
 print("Five is greater than two!") #unexpected indent
        print("Five is greater than two!")

IndentationError: unexpected indent (<ipython-input-7-c6fc9b325966>, line 3)

In [ ]:
"""
multiline
comment
"""

In [1]:
x=4
x='Sally'
type(x)

str

In [2]:
#multiple var assignment
x,y,z = 'orange', 'banana', 'mango'
print(x)
print(y)
print(z)

orange
banana
mango

In [3]:
#multiple var assignment
x=y=z='banana'
print(x)
print(y)
print(z)

banana
banana
banana

In [ ]:
x= 'Python'
print(x+' is awesome!')

In [ ]:
x=5
y=10
x+y

In [ ]:
x='Sam'
y=5
x+y

In [ ]:
x='Python '
y='is awesome'
x+y

In [ ]:
#Global Var
x='awesome'

def myfunc():
    print('python is '+x)
    
myfunc()

Datatype

In [4]:
x = "Hello World"
print(x)
print(type(x))

Hello World
<class 'str'>

In [5]:
x = 20
print(x)
print(type(x))

20
<class 'int'>

In [6]:
x = 20.5
print(x)
print(type(x))

20.5
<class 'float'>

In [7]:
x = 1j
print(x)
print(type(x))

1j
<class 'complex'>

In [8]:
x = ["apple", "banana", "cherry"]
print(x)
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [9]:
x = ("apple", "banana", "cherry")
print(x)
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [10]:
x = range(6)
print(x)
print(type(x))

range(0, 6)
<class 'range'>

In [11]:
x = {"name" : "John", "age" : 36}
print(x)
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [12]:
x = {"apple", "banana", "cherry"}
print(x)
print(type(x))

{'apple', 'cherry', 'banana'}
<class 'set'>

In [13]:
x = frozenset({"apple", "banana", "cherry"}) #elements are immutable
print(x)
print(type(x))

frozenset({'apple', 'cherry', 'banana'})
<class 'frozenset'>

In [ ]:
x = True
print(x)
print(type(x))

In [15]:
x = b"Hello" #bytes
print(x)
print(type(x))

b'Hello'
<class 'bytes'>

In [16]:
x = bytearray(5)
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [17]:
x = memoryview(bytes(5))
print(x)
print(type(x))

<memory at 0x0000000006BCF7C8>
<class 'memoryview'>

Setting data type

In [ ]:
x = str("Hello World")
print(x)
print(type(x))

In [ ]:
x = int(20)
print(x)
print(type(x))

In [ ]:
x = float(20.5)
print(x)
print(type(x))

In [ ]:
x = complex(1j)
print(x)
print(type(x))

In [ ]:
x = list(("apple", "banana", "cherry"))
print(x)
print(type(x))

In [ ]:
x = tuple(("apple", "banana", "cherry"))
print(x)
print(type(x))

In [ ]:
x = range(6)
print(x)
print(type(x))

In [ ]:
x = dict(name="John", age=36)
print(x)
print(type(x))

In [ ]:
x = set(("apple", "banana", "cherry"))
print(x)
print(type(x))

In [ ]:
x = frozenset(("apple", "banana", "cherry"))
print(x)
print(type(x))

In [ ]:
x = bool(5)
print(x)
print(type(x))

In [ ]:
x = bytes(5)
print(x)
print(type(x))

In [ ]:
x = bytearray(5)
print(x)
print(type(x))

In [ ]:
x = memoryview(bytes(5))
print(x)
print(type(x))

Numbers

In [18]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [19]:
#int
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [20]:
#float
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [21]:
#float
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [22]:
#complex
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

Typecast

In [8]:
x = 1 # int
y = 2.8 # float
z = 1j # complex

a = float(x) #convert from int to float:
b = int(y) #convert from float to int:
c = complex(x) #convert from int to complex:

print(a)
print(b)
print(c)

1.0
2
(1+0j)

In [10]:
print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'int'>
<class 'complex'>

Random Number

In [33]:
import random
print(random.randrange(0,10))
print(random.randint(0,10))

# difference that I know between randrange and randint is that 
# randrange([start], stop[, step]) you can use the step and 
# random.randrange(0, 1) will not consider the last item, 
# while randint(0, 1) returns a choice inclusive of the last item.

8
4

In [37]:
print(int(1))   # x will be 1
print(int(2.8)) # y will be 2
print(int("3")) # z will be 3

1
2
3

In [25]:
print(float(1))    # x will be 1.0
print(float(2.8))   # y will be 2.8
print(float("3"))   # z will be 3.0
print(float("4.2")) # w will be 4.2
print(float("4.21")) # w will be 4.2

1.0
2.8
3.0
4.2
4.21

In [15]:
print(str("s1")) # x will be 's1'
print(str(2))    # y will be '2'
print(str(3.0))  # z will be '3.0'

s1
2
3.0

In [17]:
a = "hello"
type(a)

str

In [20]:
a='''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
#multiline string

In [21]:
type(a)

str

In [22]:
len(a)

123

In [23]:
#Strings are arrays
a = "Hello, World!"
print(a[1])

e

In [25]:
#slicing
a = "Hello, World!"
print(a[2:5])

llo

In [26]:
#negative indexing
a = "Hello, World!"
print(a[-5:-2])

orl

In [27]:
#string length
a = "Hello, World!"
print(len(a))

13

In [26]:
a = "      Hello, World!      "
print(a)
print(a.strip()) #trim
print(len(a))
print(len(a.strip()))

      Hello, World!
Hello, World!
25
13

In [32]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [34]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [27]:
a = "Hello, World!"
print(a.replace('H','J'))
print(a)

Jello, World!
Hello, World!

In [36]:
a = "Hello, World!"
print(a.split(','))

['Hello', ' World!']

In [37]:
a = "Hello, World!"
print(a.split('l'))

['He', '', 'o, Wor', 'd!']

In [38]:
txt = "The rain in Spain stays mainly in the plain"
x ='ain' in txt
print(x)

True

In [39]:
a = "Hello"
b = " World"
c = a + b
print(c)

Hello World

In [40]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [41]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [42]:
age = 36
print("My name is John, and I am {}".format(age))

My name is John, and I am 36

In [43]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [44]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [46]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

Escape Character

In [47]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (<ipython-input-47-56cdf4283a8e>, line 1)

In [48]:
txt = "We are the so-called \"Vikings\" from the north."

In [49]:
txt = 'It\'s alright.'
print(txt)

It's alright.

In [50]:
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [51]:
txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [52]:
txt = "Hello\rWorld!"
print(txt)

World!

In [53]:
txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [54]:
#This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt)

Hello World!

In [55]:
\f	Form Feed

SyntaxError: unexpected character after line continuation character (<ipython-input-55-a1cf60e37502>, line 1)

In [57]:
#A backslash followed by three integers will result in a octal value:
txt = "Octal value: \110\145\154\154\157"
print(txt)

Octal value: Hello

In [58]:
#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "Hex value: \x48\x65\x6c\x6c\x6f"
print(txt)

Hex value: Hello

String Functions

In [61]:
#string.capitalize()
txt = "hello, and welcome to my world."
x = txt.capitalize()
print (x)

Hello, and welcome to my world.

In [62]:
txt = "36 is my age."
x = txt.capitalize()
print (x)

36 is my age.

In [63]:
#similar to the lower() method, but the casefold() method is stronger
'''
For example, German lowercase letter ß is equivalent to ss. 
However, since ß is already lowercase, lower() method does nothing to it. But, casefold() converts it to ss.
'''
#string.casefold()
txt = "Hello, And Welcome To My World!"
x = txt.casefold()
print(x)

hello, and welcome to my world!

In [64]:
#taking up the space of 20 characters, with "banana" in the middle
txt = "banana"
x = txt.center(20)
print(x)

       banana

In [65]:
#string.center(length, character)
txt = "banana"
x = txt.center(20, "O")
print(x)

OOOOOOObananaOOOOOOO

In [39]:
#string.center(length, character)
txt = "apple"
x = txt.center(10, "O")
print(x)

OOappleOOO

In [66]:
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple")
print(x)

2

In [68]:
#string.count(value, start, end) - Search from position 10 to 24:
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple", 10, 24)
print(x)

1

In [41]:
#string.count(value, start, end) - Search from position 10 to 24:
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple")
print(x)

2

In [69]:
txt = "My name is Ståle"
x = txt.encode()
print(x)

b'My name is St\xc3\xa5le'

In [70]:
#string.encode(encoding=encoding, errors=errors)
txt = "My name is Ståle"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))
print(txt.encode(encoding="ascii",errors="strict"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

UnicodeEncodeError: 'ascii' codec can't encode character '\xe5' in position 13: ordinal not in range(128)

In [71]:
#Check if the string ends with a punctuation sign (.)
txt = "Hello, welcome to my world."
x = txt.endswith(".")
print(x)

True

In [72]:
#string.endswith(value, start, end)
txt = "Hello, welcome to my world."
x = txt.endswith("my world.")
print(x)

True

In [73]:
#Check if position 5 to 11 ends with the phrase "my world.":
txt = "Hello, welcome to my world."
x = txt.endswith("my world.", 5, 11)
print(x)

False

In [74]:
txt = "H\te\tl\tl\to"
x =  txt.expandtabs(2) #Set the tab size to 2 whitespaces:
print(x)

H e l l o

In [75]:
#string.exandtabs(tabsize)
txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

In [42]:
txt = "Hello, welcome to my world."
x = txt.find("welcome")
y = txt.index("welcome") 
print(x)
print(y)
#find() method returns -1 if the substring is not found, whereas index() throws an exception.

7
7

In [111]:
#string.find(value, start, end)
txt = "Hello, welcome to my world."
x = txt.find("e", 5, 10)
y = txt.index("e", 5, 10)
print(x)
print(y)

8
8

In [79]:
txt = "Hello, welcome to my world."
print(txt.find("q"))
print(txt.index("q"))

-1

ValueError: substring not found

Python String format() Method

In [80]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [82]:
txt1 = "My name is {fname}, I'am {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'am {1}".format("John",36)
txt3 = "My name is {}, I'am {}".format("John",36)
print(txt1)
print(txt2)
print(txt3)

My name is John, I'am 36
My name is John, I'am 36
My name is John, I'am 36

In [83]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.
#Use "<" to left-align the value:
txt = "We have {:<8} chickens."
print(txt.format(49))

We have 49       chickens.

In [84]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.
#Use ">" to right-align the value:
txt = "We have {:>8} chickens."
print(txt.format(49))

We have       49 chickens.

In [85]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.
#Use "^" to center-align the value:
txt = "We have {:^8} chickens."
print(txt.format(49))

We have    49    chickens.

In [86]:
#To demonstrate, we insert the number 8 to specify the available space for the value.
#Use "=" to place the plus/minus sign at the left most position:
txt = "The temperature is {:=8} degrees celsius."
print(txt.format(-5))

The temperature is -      5 degrees celsius.

In [87]:
#Use "+" to always indicate if the number is positive or negative:
txt = "The temperature is between {:+} and {:+} degrees celsius."
print(txt.format(-3, 7))

The temperature is between -3 and +7 degrees celsius.

In [88]:
#Use "-" to always indicate if the number is negative (positive numbers are displayed without any sign):
txt = "The temperature is between {:-} and {:-} degrees celsius."
print(txt.format(-3, 7))

The temperature is between -3 and 7 degrees celsius.

In [89]:
#Use " " (a space) to insert a space before positive numbers and a minus sign before negative numbers:
txt = "The temperature is between {: } and {: } degrees celsius."
print(txt.format(-3, 7))

The temperature is between -3 and  7 degrees celsius.

In [90]:
#Use "," to add a comma as a thousand separator:
txt = "The universe is {:,} years old."
print(txt.format(13800000000))

The universe is 13,800,000,000 years old.

In [91]:
#Use "_" to add a underscore character as a thousand separator:
txt = "The universe is {:_} years old."
print(txt.format(13800000000))

The universe is 13_800_000_000 years old.

In [92]:
#Use "b" to convert the number into binary format:
txt = "The binary version of {0} is {0:b}"
print(txt.format(5))

The binary version of 5 is 101

In [93]:
#Use "d" to convert a number, in this case a binary number, into decimal number format:
txt = "We have {:d} chickens."
print(txt.format(0b101))

We have 5 chickens.

In [94]:
#Use "e" to convert a number into scientific number format (with a lower-case e):
txt = "We have {:e} chickens."
print(txt.format(5))

We have 5.000000e+00 chickens.

In [95]:
#Use "E" to convert a number into scientific number format (with an upper-case E):
txt = "We have {:E} chickens."
print(txt.format(5))

We have 5.000000E+00 chickens.

In [100]:
#Use "f" to convert a number into a fixed point number, default with 6 decimals, 
but use a period followed by a number to specify the number of decimals:
txt = "The price is {:.2f} dollars."
print(txt.format(45))

SyntaxError: invalid syntax (<ipython-input-100-cd99e572b7c5>, line 2)

In [98]:
#without the ".2" inside the placeholder, this number will be displayed like this:
txt = "The price is {:f} dollars."
print(txt.format(45))

The price is 45.000000 dollars.

In [101]:
#Use "F" to convert a number into a fixed point number, but display inf and nan as INF and NAN:
x = float('inf')
txt = "The price is {:F} dollars."
print(txt.format(x))

#same example, but with a lower case f:
txt = "The price is {:f} dollars."
print(txt.format(x))

The price is INF dollars.
The price is inf dollars.

In [102]:
#Use "o" to convert the number into octal format:
txt = "The octal version of {0} is {0:o}"
print(txt.format(10))

The octal version of 10 is 12

In [103]:
#Use "x" to convert the number into Hex format:
txt = "The Hexadecimal version of {0} is {0:x}"
print(txt.format(255))

The Hexadecimal version of 255 is ff

In [104]:
#Use "%" to convert the number into a percentage format:
txt = "You scored {:%}"
print(txt.format(0.25))

#Or, without any decimals:
txt = "You scored {:.0%}"
print(txt.format(0.25))

You scored 25.000000%
You scored 25%

In [112]:
txt = "Company12"
x = txt.isalnum()
print(x)

True

In [113]:
txt = "Company 12" #Check if all the characters in the text is alphanumeric:
x = txt.isalnum()
print(x)

False

In [115]:
txt = "CompanyX"
x = txt.isalpha()
print(x)

True

In [114]:
txt = "Company10"
x = txt.isalpha()
print(x)

False

In [116]:
txt = "\u0033" #unicode for 3
x = txt.isdecimal()
print(x)

True

In [117]:
a = "\u0030" #unicode for 0
b = "\u0047" #unicode for G
print(a.isdecimal())
print(b.isdecimal())

True
False

In [118]:
#Check if each word start with an upper case letter:
txt = "Hello, And Welcome To My World!"
x = txt.istitle()
print(x)

True

In [119]:
a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

In [120]:
txt = "   "
x = txt.isspace()
print(x)

True

In [121]:
txt = "   s   "
x = txt.isspace()
print(x)

False

In [122]:
txt = "Hello! Are you #1?"
x = txt.isprintable()
print(x)

True

In [43]:
txt = "Hello!\nAre you #1?"
print(txt)
x = txt.isprintable()
print(x)

Hello!
Are you #1?
False

In [124]:
txt = "565543"
x = txt.isnumeric()
print(x)

True

In [125]:
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for &sup2;
c = "10km2"

print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())

True
True
False

In [126]:
txt = "hello world!"
x = txt.islower()
print(x)

True

In [127]:
a = "Hello world!"
b = "hello 123"
c = "mynameisPeter"

print(a.islower())
print(b.islower())
print(c.islower())

False
True
False

In [128]:
txt = "50800"
x = txt.isdigit()
print(x)

True

In [129]:
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for ²

print(a.isdigit())
print(b.isdigit())

True
True

In [130]:
#Check if the strings are valid identifiers:
txt = "Demo"
x = txt.isidentifier()
print(x)

True

In [131]:
a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

In [132]:
txt = "THIS IS NOW!"
x = txt.isupper()
print(x)

True

In [134]:
a = "Hello World!"
b = "hello 123"
c = "MY NAME IS PETER"
print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
True

In [135]:
myTuple = ("John", "Peter", "Vicky")
x = "#".join(myTuple) #Join all items in a tuple into a string, using a hash character as separator
print(x)

John#Peter#Vicky

In [136]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"
x = mySeparator.join(myDict)
print(x)

nameTESTcountry

In [137]:
txt = "banana"
x = txt.ljust(20)
print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [138]:
txt = "banana"
x = txt.ljust(20, "O")
print(x)

bananaOOOOOOOOOOOOOO

In [143]:
a='abc'
p='pqr'
x = 3
e = 5
print(a,p)
print(x,e)
print(a,e)

abc pqr
3 5
abc 5

In [140]:
txt = "Hello my FRIENDS"
x = txt.lower()
print(x)

hello my friends

In [144]:
txt = "     banana     "
x = txt.lstrip()
print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [145]:
txt = ",,,,,ssaaww.....banana"
x = txt.lstrip(",.asw")
print(x)

banana

In [146]:
#The partition() method searches for a specified string, and splits the string into a tuple containing three elements.
txt = "I could eat bananas all day"
x = txt.partition("bananas")
print(x)

('I could eat ', 'bananas', ' all day')

In [147]:
txt = "I could eat bananas all day"
x = txt.partition("apples")
print(x)

('I could eat bananas all day', '', '')

In [148]:
txt = "I like bananas"
x = txt.replace("bananas", "apples")
print(x)

I like apples

In [149]:
txt = "one one was a race horse, two two was one too."
x = txt.replace("one", "three")
print(x)

three three was a race horse, two two was three too.

In [150]:
#Replace the two first occurrence of the word "one"
txt = "one one was a race horse, two two was one too."
x = txt.replace("one", "three", 2)
print(x)

three three was a race horse, two two was one too.

In [156]:
#Where in the text is the last occurrence of the string "casa"?:
txt = "Mi casa, su casa."
x = txt.rfind("casa")
y = txt.rindex("casa")
print(x,y)

12 12

In [158]:
txt = "Hello, welcome to my world."
x = txt.rfind("e")
y = txt.rindex("e")
print(x,y)

13 13

In [161]:
txt = "Hello, welcome to my world."
x = txt.rfind("e", 5, 10)
y = txt.rindex("e", 5, 10)
print(x,y)

8 8

In [154]:
txt = "Hello, welcome to my world."

print(txt.rfind("q")) #If the value is not found, the rfind() method returns -1, but the rindex() method will raise an exception
print(txt.rindex("q"))

-1

ValueError: substring not found

In [162]:
txt = "banana"
x = txt.rjust(20)
print(x, "is my favorite fruit.")

              banana is my favorite fruit.

In [163]:
txt = "banana"

x = txt.rjust(20, "O")

print(x)

OOOOOOOOOOOOOObanana

In [164]:
txt = "I could eat bananas all day, bananas are my favorite fruit"
x = txt.rpartition("bananas")
print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [165]:
txt = "I could eat bananas all day, bananas are my favorite fruit"
x = txt.rpartition("apples")
print(x)

('', '', 'I could eat bananas all day, bananas are my favorite fruit')

In [168]:
txt = "apple, banana, cherry"
x = txt.rsplit(", ")
y = txt.split(" ")
print(x)
print(y)

['apple', 'banana', 'cherry']
['apple,', 'banana,', 'cherry']

In [169]:
txt = "apple, banana, cherry"
# setting the max parameter to 1, will return a list with 2 elements!
x = txt.rsplit(", ", 1)
print(x)

['apple, banana', 'cherry']

In [170]:
txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [171]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [172]:
txt = "hello, my name is Peter, I am 26 years old"

x = txt.split(", ")

print(x)

['hello', 'my name is Peter', 'I am 26 years old']

In [173]:
txt = "apple#banana#cherry#orange"

x = txt.split("#")

print(x)

['apple', 'banana', 'cherry', 'orange']

In [174]:
txt = "apple#banana#cherry#orange"

# setting the max parameter to 1, will return a list with 2 elements!
x = txt.split("#", 1)

print(x)

['apple', 'banana#cherry#orange']

In [175]:
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [176]:
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines(True) #Split the string, but keep the line breaks

print(x)

['Thank you for the music\n', 'Welcome to the jungle']

In [177]:
txt = "Hello, welcome to my world."
x = txt.startswith("Hello")
print(x)

True

In [178]:
txt = "Hello, welcome to my world."

x = txt.startswith("wel", 7, 20)

print(x)

True

In [179]:
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [180]:
txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.grt")

print(x)

banana

In [181]:
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

In [182]:
txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

In [183]:
txt = "Welcome to my 2nd world"

x = txt.title()

print(x)

Welcome To My 2Nd World

In [184]:
txt = "hello b2b2b2 and 3g3g3g"

x = txt.title()

print(x)

Hello B2B2B2 And 3G3G3G

In [185]:
txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS

In [186]:
txt = "50"

x = txt.zfill(10)

print(x)

0000000050

In [187]:
a = "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

00000hello
welcome to the jungle
000010.000

Boolean

In [188]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [189]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [191]:
print(bool("Hello"))
print(bool(15))

x = "Hello"
y = 15
print(bool(x))
print(bool(y))

True
True
True
True

In [44]:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

In [193]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [194]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [196]:
x = 200
print(isinstance(x, int))

True

Operator

In [197]:
#Arithmatic operator
x = 15
y = 2

print(x + y)  #17
print(x - y)  #13
print(x * y)  #30
print(x / y)  #7.5
print(x % y)  #1
print(x ** y) #225
print(x // y) #7

17
13
30
7.5
1
225
7

In [ ]:
#assignment Operator

In [198]:
x = 5
print(x)

5

In [199]:
x = 5

x += 3

print(x)

8

In [200]:
x = 5

x -= 3

print(x)

2

In [201]:
x = 5

x *= 3

print(x)

15

In [202]:
x = 5

x /= 3

print(x)

1.6666666666666667

In [203]:
x = 5

x%=3

print(x)

2

In [204]:
x = 5

x//=3

print(x)

1

In [205]:
x = 5

x **= 3

print(x)

125

In [206]:
x = 5

x &= 3

print(x)

1

In [207]:
x = 5

x |= 3

print(x)

7

In [208]:
x = 5

x ^= 3

print(x)

6

In [209]:
x = 5

x >>= 3

print(x)

0

In [211]:
x = 5

x <<= 3

print(x)

40

In [229]:
#comparison Operator
x = 5
y = 3
print(x == y) #F
print(x != y) #T
print(x > y) #T
print(x < y) #F
print(x >= y) #T
print(x <= y) #F

False
True
True
False
True
False

In [223]:
#logical Operator
x = 5

print(x > 3 and x < 10)
print(x > 3 or x < 4)
print(not(x > 3 and x < 10))

True
True
False

In [225]:
#identity operator
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)
print(x is y)
print(x == y)
#is Returns true if both variables are the same object

True
False
True

In [227]:
#Membership Operators
x = ["apple", "banana"]
print("banana" in x)
print("pineapple" not in x)

True
True

In [230]:
##comparison Operator
'''
& 	AND	Sets each bit to 1 if both bits are 1
|	OR	Sets each bit to 1 if one of two bits is 1
 ^	XOR	Sets each bit to 1 if only one of two bits is 1
~ 	NOT	Inverts all the bits
<<	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off
>>	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

'''

'\n& \tAND\tSets each bit to 1 if both bits are 1\n|\tOR\tSets each bit to 1 if one of two bits is 1\n ^\tXOR\tSets each bit to 1 if only one of two bits is 1\n~ \tNOT\tInverts all the bits\n<<\tZero fill left shift\tShift left by pushing zeros in from the right and let the leftmost bits fall off\n>>\tSigned right shift\tShift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off\n\n'

List

In [237]:
mylist = ['apple','banana','oranges','cherry', 'mango', 'peach']
print(mylist)
print(mylist[1])
print(mylist[-1])
print(mylist[1:4])
print(mylist[-1:-3])
print(mylist[-3:-1])

['apple', 'banana', 'oranges', 'cherry', 'mango', 'peach']
banana
peach
['banana', 'oranges', 'cherry']
[]
['cherry', 'mango']

In [241]:
mylist=['apple','banana','cherry']
print(mylist)
mylist[0]='mango' #mutable
print(mylist)

['apple', 'banana', 'cherry']
['mango', 'banana', 'cherry']

In [249]:
mylist=['apple','banana','cherry']
for i in mylist:
    print(i)

apple
banana
cherry

In [250]:
mylist=['apple','banana','cherry']
if "apple" in mylist:
    print("Yes")

Yes

In [251]:
mylist=['apple','banana','cherry']
print(len(mylist))

3

In [252]:
mylist=['apple','banana','cherry']
mylist.append("orange")
print(mylist)

['apple', 'banana', 'cherry', 'orange']

In [254]:
mylist=['apple','banana','cherry']
mylist.insert(1,'orange')
print(mylist)

['apple', 'orange', 'banana', 'cherry']

In [255]:
mylist=['apple','banana','cherry']
mylist.remove('banana')
print(mylist)

['apple', 'cherry']

In [256]:
mylist=['apple','banana','cherry']
mylist.pop()
print(mylist)

['apple', 'banana']

In [257]:
mylist=['apple','banana','cherry']
mylist.pop(1)
print(mylist)

['apple', 'cherry']

In [258]:
mylist=['apple','banana','cherry']
del mylist[0]
print(mylist)

['banana', 'cherry']

In [259]:
mylist=['apple','banana','cherry']
print(mylist)
mylist.clear()
print(mylist)

['apple', 'banana', 'cherry']
[]

In [260]:
mylist=['apple','banana','cherry']
list2=mylist.copy()
print(list2)

['apple', 'banana', 'cherry']

In [2]:
l1 = ['a','b','c']
l2 = [1,2,3]
l3 = l1 + l2
print(l3)
print(l1,l2)

['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c'] [1, 2, 3]

In [3]:
l1 = ['a','b','c']
l2 = [1,2,3]
for x in l2:
    l1.append(x)
    
print(l1)

['a', 'b', 'c', 1, 2, 3]

In [4]:
l1 = ['a','b','c']
l2 = [1,2,3]
l1.extend(l2)
print(l1)

['a', 'b', 'c', 1, 2, 3]

In [5]:
#list constructor - to make list
mylist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(mylist)

['apple', 'banana', 'cherry']

List method

In [9]:
fruits = ['banana','apple','mango']
print(fruits)
fruits.append('orange')
print(fruits)

['banana', 'apple', 'mango']
['banana', 'apple', 'mango', 'orange']

In [8]:
fruits

['banana', 'apple', 'mango']

In [10]:
a = ['banana','mango','orange']
b = ['farari','merc','bmw']
a.append(b)
print(a)

['banana', 'mango', 'orange', ['farari', 'merc', 'bmw']]

In [11]:
a = ['banana','mango']
print(a)
a.clear()
print(a)

['banana', 'mango']
[]

In [12]:
fruits = ['apple', 'banana', 'cherry', 'orange']
x=fruits.copy()
print(x)

['apple', 'banana', 'cherry', 'orange']

In [46]:
fruits = ['apple', 'banana', 'cherry', 'orange']
print(fruits.count("cherry"))
print(fruits.count("banana"))
print(fruits.count("XXX"))

1
1
0

In [18]:
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]
print(points.count(9))

2

In [21]:
fruits = ['apple', 'banana', 'cherry']
cars = ['Ford', 'BMW', 'Volvo']
fruits.extend(cars)
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [23]:
fruits = ['apple', 'banana', 'cherry']
points = (1, 4, 5, 9)
fruits.extend(points)
print(fruits)

['apple', 'banana', 'cherry', 1, 4, 5, 9]

In [24]:
fruits = ['apple', 'banana', 'cherry']
x = fruits.index("cherry")
print(x)

2

In [25]:
fruits = [4, 55, 64, 32, 16, 32]
x = fruits.index(32) #only returns the first occurrence of the value.
print(x)

3

In [47]:
fruits = ['apple', 'banana', 'cherry']
fruits.insert("orange")
print(fruits)

TypeError: insert() takes exactly 2 arguments (1 given)

In [28]:
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1, "orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [48]:
fruits = ['apple', 'banana', 'cherry']
fruits.pop(1)
print(fruits)
fruits.pop()
print(fruits)

['apple', 'cherry']
['apple']

In [31]:
fruits = ['apple', 'banana', 'cherry']
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [32]:
fruits = ['apple', 'banana', 'cherry']
fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']

In [35]:
cars = ['Ford', 'BMW', 'Volvo']
cars.sort()
print(cars)
cars.sort(reverse=True)
print(cars)

['BMW', 'Ford', 'Volvo']
['Volvo', 'Ford', 'BMW']

In [39]:
def myfunc(e):
    return len(e)

cars = ['bmw','audi','merc']
x= myfunc(cars)
print(x)

3

In [54]:
# A function that returns the 'year' value:
def myFunc(e):
    return e['year']

cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

cars.sort(key=myFunc)
print(cars)

[{'car': 'Mitsubishi', 'year': 2000}, {'car': 'Ford', 'year': 2005}, {'car': 'VW', 'year': 2011}, {'car': 'BMW', 'year': 2019}]

In [56]:
# A function that returns the length of the value:
def myFunc(e):
    return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(reverse=True, key=myFunc)
print(cars)

['Mitsubishi', 'Ford', 'BMW', 'VW']

Tuple

In [63]:
mytuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(mytuple)
print(mytuple[1])
print(mytuple[-1])
print(mytuple[2:5])
print(mytuple[-4:-1])

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
banana
mango
('cherry', 'orange', 'kiwi')
('orange', 'kiwi', 'melon')

In [64]:
x = ("apple", "banana", "cherry")
x[1] = "kiwi" #unchangeable

TypeError: 'tuple' object does not support item assignment

In [65]:
x = ("apple", "banana", "cherry")

y = list(x)
y[1] = "kiwi"

x = tuple(y)
print(x)

<class 'list'>
('apple', 'kiwi', 'cherry')

In [66]:
mytuple = ("apple", "banana", "cherry")
if "apple" in mytuple:
    print('Yes')

Yes

In [67]:
mytuple = ("apple", "banana", "cherry")
print(len(mytuple))

3

In [68]:
#You cannot add items to a tuple:
thistuple = ("apple", "banana", "cherry")
thistuple[3] = "orange" # This will raise an error
print(thistuple)

TypeError: 'tuple' object does not support item assignment

In [69]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [72]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

('apple', 'banana', 'cherry')

NameError: name 'thistuple' is not defined

In [74]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [50]:
#constructor
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)
t2 = thistuple = tuple(["apple", "banana", "cherry"])
print(t2)
type(t2)

('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry')

tuple

Sets

In [76]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

In [77]:
myset = {'apple','cherry','banana'}
for x in myset:
    print(x)

banana
cherry
apple

In [78]:
myset = {'banana','apple','kiwi'}
print('banana' in myset)

True

In [79]:
myset = {'banana','apple','kiwi'}
myset.add('cherry')
print(myset)

{'cherry', 'banana', 'kiwi', 'apple'}

In [82]:
myset = {'banana','apple','kiwi'}
myset.update(['mango','orange']) #Add multiple items to a set
print(myset) 
print(len(myset))

{'kiwi', 'mango', 'banana', 'orange', 'apple'}
5

In [88]:
myset = {'banana','apple','kiwi','cherry','mango'}
myset.remove('banana')
print(myset)
myset.discard('apple')
print(myset)
myset.pop()
print(myset)

#The only notable difference is, 
#remove() will throw an error message when the element which we are trying to remove is not there in the set, 
#whereas, discard() will not intimate the absence of element which we try to remove

{'kiwi', 'mango', 'cherry', 'apple'}
{'kiwi', 'mango', 'cherry'}
{'mango', 'cherry'}
set()

In [89]:
myset = {'banana','apple','kiwi','cherry','mango'}
myset.clear()
print(myset)

set()

In [90]:
thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

NameError: name 'thisset' is not defined

In [95]:
set1 = {1,2,3}
set2= {'a','b','c'}
set3 = set1.union(set2)
print(set3)
set1.update(set2)
print(set1)
#Both union() and update() will exclude any duplicate items.

{1, 2, 3, 'b', 'a', 'c'}
{1, 2, 3, 'b', 'a', 'c'}

In [93]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'b', 2, 3, 'a', 'c'}

In [96]:
#set constructor
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'banana', 'apple'}

set methods

In [97]:
fruits={'apple','mango','banana'}
fruits.add('cherry')
print(fruits)

{'cherry', 'banana', 'mango', 'apple'}

In [98]:
fruits = {"apple", "banana", "cherry"}
fruits.add("apple") #No duplicate
print(fruits)

{'cherry', 'banana', 'apple'}

In [100]:
fruits = {"apple", "banana", "cherry"}
fruits.clear()
print(fruits)

set()

In [102]:
fruits = {"apple", "banana", "cherry"}
x =fruits.copy()
print(type(x))
print(x)

<class 'set'>
{'cherry', 'banana', 'apple'}

In [103]:
x={'apple','banana','cherry'}
y={'google','microsoft','apple'}
z=x.difference(y)
print(z)

{'banana', 'cherry'}

In [104]:
x={'apple','banana','cherry'}
y={'google','microsoft','apple'}
z=y.difference(x)
print(z)

{'google', 'microsoft'}

In [105]:
x={'apple','banana','cherry'}
y={'google','microsoft','apple'}
x.difference_update(y) #Remove the items that exist in both sets
print(x)

{'cherry', 'banana'}

In [106]:
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
print(fruits)

{'cherry', 'apple'}

In [107]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

{'apple'}

In [108]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

result = x.intersection(y, z)

print(result)

{'c'}

In [109]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
#Remove the items that is not present in both x, and set y
x.intersection_update(y)

print(x)

{'apple'}

In [111]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

x.intersection_update(y, z)

print(x)
print(y)

{'c'}
{'c', 'd', 'e'}

In [112]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y) #True if no items in set x is present in set y

print(z)

True

In [113]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.isdisjoint(y)

print(z)

False

In [114]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [115]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b"}

z = x.issubset(y)

print(z)

False

In [116]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

In [117]:
x = {"f", "e", "d", "c", "b"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

False

In [118]:
fruits = {"apple", "banana", "cherry"}

fruits.pop()

print(fruits)

{'banana', 'apple'}

In [119]:
fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

print(fruits)

{'cherry', 'apple'}

In [120]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)
#Return a set that contains all items from both sets, except items that are present in both sets:

print(z)

{'google', 'cherry', 'banana', 'microsoft'}

In [121]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'google', 'cherry', 'banana', 'microsoft'}

In [122]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'google', 'banana', 'apple', 'microsoft', 'cherry'}

In [123]:
x = {"a", "b", "c"}
y = {"f", "d", "a"}
z = {"c", "d", "e"}

result = x.union(y, z)

print(result)

{'d', 'b', 'e', 'f', 'a', 'c'}

In [124]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y) #Insert the items from set y into set x

print(x)

{'google', 'banana', 'apple', 'microsoft', 'cherry'}

Python Dictionaries

In [125]:
mydict={
    'brand':'Audi',
    'model':'A3',
    'year': 2016
}
print(mydict)

{'brand': 'Audi', 'model': 'A3', 'year': 2016}

In [129]:
print(mydict['brand'])
print(mydict.get('brand'))

Audi
Audi

In [131]:
mydict={
    'brand':'Audi',
    'model':'A3',
    'year': 2016
}
print(mydict)
mydict['year']=2018
print(mydict)

{'brand': 'Audi', 'model': 'A3', 'year': 2016}
{'brand': 'Audi', 'model': 'A3', 'year': 2018}

In [132]:
mydict={
    'brand':'Audi',
    'model':'A3',
    'year': 2016
}
for x in mydict:
    print(x)

brand
model
year

In [133]:
mydict={
    'brand':'Audi',
    'model':'A3',
    'year': 2016
}
for x in mydict:
    print(mydict[x])

Audi
A3
2016

In [134]:
mydict={
    'brand':'Audi',
    'model':'A3',
    'year': 2016
}
for x in mydict.values():
    print(x)

Audi
A3
2016

In [137]:
mydict={
    'brand':'Audi',
    'model':'A3',
    'year': 2016
}
for x, y in mydict.items():
    print(x, y)

brand Audi
model A3
year 2016

In [139]:
mydict={
    'brand':'Audi',
    'model':'A3',
    'year': 2016
}

if 'model' in mydict:
    print('Yes')

Yes

In [140]:
mydict={
    'brand':'Ford',
    'model':'Mustang',
    'year':1964
}
print(len(mydict))

3

In [144]:
mydict={
    'brand':'Ford',
    'model':'Mustang',
    'year':1964
}
print(mydict)
mydict['color']='red'
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [145]:
mydict={
    'brand':'Audi',
    'model':'A3',
    'year':2018
}
print(mydict)
mydict.pop('model')
print(mydict)

{'brand': 'Audi', 'model': 'A3', 'year': 2018}
{'brand': 'Audi', 'year': 2018}

In [146]:
mydict={
    'brand':'Audi',
    'model':'A3',
    'year':2018
}
print(mydict)
mydict.popitem()
print(mydict)

{'brand': 'Audi', 'model': 'A3', 'year': 2018}
{'brand': 'Audi', 'model': 'A3'}

In [147]:
mydict={
    'brand':'Audi',
    'model':'A3',
    'year':2018
}
print(mydict)
del mydict['model']
print(mydict)

{'brand': 'Audi', 'model': 'A3', 'year': 2018}
{'brand': 'Audi', 'year': 2018}

In [148]:
mydict={
    'brand':'Audi',
    'model':'A3',
    'year':2018
}
print(mydict)
del mydict
print(mydict)

{'brand': 'Audi', 'model': 'A3', 'year': 2018}

NameError: name 'mydict' is not defined

In [149]:
mydict={
    'brand':'Audi',
    'model':'A3',
    'year':2018
}
print(mydict)
mydict.clear()
print(mydict)

{'brand': 'Audi', 'model': 'A3', 'year': 2018}
{}

In [150]:
mydict={
    'brand':'Audi',
    'model':'A3',
    'year':2018
}
print(mydict)
thisdict = mydict.copy()
print(thisdict)

{'brand': 'Audi', 'model': 'A3', 'year': 2018}
{'brand': 'Audi', 'model': 'A3', 'year': 2018}

In [151]:
mydict={
    'brand':'Audi',
    'model':'A3',
    'year':2018
}
print(mydict)
thisdict = dict(mydict)
print(thisdict)

{'brand': 'Audi', 'model': 'A3', 'year': 2018}
{'brand': 'Audi', 'model': 'A3', 'year': 2018}

In [156]:
#nested dictionary
family={
    'child1' : {'name':'Rose','Age':7},
    'child2' : {'name':'Adam', 'Age':5}
}
print(family)

{'child1': {'name': 'Rose', 'Age': 7}, 'child2': {'name': 'Adam', 'Age': 5}}

In [158]:
#nested dictionary
child1={'name':'Rose','Age':7}
child2={'name':'Adam','Age':5}
family2={'child1':child1,'child2':child2}
print(family2)

{'child1': {'name': 'Rose', 'Age': 7}, 'child2': {'name': 'Adam', 'Age': 5}}

In [160]:
#dict Constructor
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
mydict = dict(brand='Audi',year=2018)
print(mydict)

{'brand': 'Audi', 'year': 2018}

methods

In [161]:
car={'model':'Audi','Year':2018}
x=car.copy()
print(x)

{'model': 'Audi', 'Year': 2018}

In [163]:
# Create a dictionary with 3 keys, all with the value 0
x = ('key1', 'key2', 'key3')
y = 0

mydict = dict.fromkeys(x,y)
mydict2 = dict.fromkeys(x)

print(mydict)
print(mydict2)

{'key1': 0, 'key2': 0, 'key3': 0}
{'key1': None, 'key2': None, 'key3': None}

In [168]:
car={'model':'Audi','Year':2018}
x=car.get('model')
print(x)

Audi

In [169]:
car={'model':'Audi','Year':2018}
y = car.get("price", 15000)
print(y) # return the value of an item that do not exist
print(car)

15000
{'model': 'Audi', 'Year': 2018}

In [172]:
car={'model':'Audi','Year':2018}
print(car.items())
print(car.keys())
print(car.values())

dict_items([('model', 'Audi'), ('Year', 2018)])
dict_keys(['model', 'Year'])
dict_values(['Audi', 2018])

In [174]:
car={'model':'Audi','Year':2018}
print(car)
car['Year']=2016
print(car)

{'model': 'Audi', 'Year': 2018}
{'model': 'Audi', 'Year': 2016}

In [175]:
car={'model':'Audi','Year':2018}
print(car)
car['color']='white'
print(car)

{'model': 'Audi', 'Year': 2018}
{'model': 'Audi', 'Year': 2018, 'color': 'white'}

In [176]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.keys()

print(x)

dict_keys(['brand', 'model', 'year'])

In [177]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.keys()

car["color"] = "white"

print(x)

dict_keys(['brand', 'model', 'year', 'color'])

In [178]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.pop('model')
print(car)

{'brand': 'Ford', 'year': 1964}

In [179]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.pop()
print(car)

TypeError: pop expected at least 1 arguments, got 0

In [181]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x =car.popitem() #removes the item that was last inserted into the dictionary
print(x)
print(car)

('year', 1964)
{'brand': 'Ford', 'model': 'Mustang'}

In [182]:
#If the key does not exist, insert the key, with the specified value
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "Bronco")

print(x)

Mustang

In [185]:
#If the key does not exist, insert the key, with the specified value
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("color", "white")

print(x)
print(car)

white
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}

In [186]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"color": "White"})

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}